
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

replacements:
  - source: 
      kind: Namespace
      name: k8ssandra-operator
      fieldPath: metadata.name
    targets:
    - select:
        namespace: cass-operator
      fieldPaths:
      - metadata.namespace
    - select:
        name: cass-operator-manager-rolebinding
        kind: ClusterRoleBinding
      fieldPaths:
      - subjects.0.namespace
    - select:
        name: cass-operator-validating-webhook-configuration
        kind: ValidatingWebhookConfiguration
      fieldPaths:
      - webhooks.0.clientConfig.service.namespace
    - select:
        name: k8ssandra-operator-validating-webhook-configuration
        kind: ValidatingWebhookConfiguration
      fieldPaths:
      - webhooks.0.clientConfig.service.namespace
patchesStrategicMerge:
- |-
  apiVersion: v1
  kind: Namespace
  metadata:
    name: cass-operator
  $patch: delete
    