global:
  # -- Determines whether k8ssandra-operator only watch and manages
  # K8ssandraCluster in the same namespace in which the operator is deployed
  # or if watches and manages K8ssandraClusters across all namespaces.
  clusterScoped: false
  # -- Labels to be added to all deployed resources.
  commonLabels: {}
  # -- Annotations to be added to all deployed resources.
  commonAnnotations: {}
  # -- List of namespaces to watch for K8ssandraCluster resources.
  # If empty, the operator will watch all namespaces in cluster-scope installation.
  # watchNamespaces: []
  # -- If true, the helm chart will generate ClusterRoles and ClusterRoleBindings.
  clusterScopedResources: true
  # -- imageConfig modifications to the default settings provided by the cass-operator. One can override all the
  # settings here. See https://github.com/k8ssandra/k8ssandra/blob/main/charts/cass-operator/values.yaml#L17 for more details.
  imageConfig:
    images:
      reaper:
        repository: "thelastpickle"
        name: "cassandra-reaper"
        tag: "4.0.1"
      medusa:
        repository: "k8ssandra"
        name: "medusa"
        tag: "0.25.1"
# -- A name in place of the chart name which is used in the metadata.name of
# objects created by this chart.
nameOverride: ''
# -- A name in place of the value used for metadata.name in objects created by
# this chart. The default value has the form releaseName-chartName.
fullnameOverride: ''
# -- Sets the number of k8ssandra-operator pods.
replicaCount: 1
# -- Determines if the k8ssandra-operator should be installed as the control plane
# or if it's simply in a secondary cluster waiting to be promoted
controlPlane: true
# Sets properties for the k8ssandra-operator container
image:
  # -- Container registry containing the repository where the image resides
  registry: docker.io
  # -- Docker repository for cass-operator
  repository: k8ssandra/k8ssandra-operator
  # -- Pull policy for the operator container
  pullPolicy: IfNotPresent
  # -- Tag of the k8ssandra-operator image to pull from image.repository
  tag: latest
  # -- Docker registry containing all k8ssandra-operator related images, such as reaper/medusa/stargate. 
  # Setting this allows for usage of an internal registry without specifying image on all K8ssandraCluster objects.
  registryOverride:
# -- References to secrets to use when pulling images. See:
# https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
serviceAccount:
  # -- Annotations to add to the service account.
  annotations: {}
# -- Annotations for the cass-operator pod.
podAnnotations: {}
# -- PodSecurityContext for the cass-operator pod. See:
# https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
podSecurityContext: {}
securityContext:
  # -- Run cass-operator container as non-root user
  runAsNonRoot: true
  # -- Group for the user running the k8ssandra-operator container / process
  runAsGroup: 65534
  # -- User for running the k8ssandra-operator container / process
  runAsUser: 65534
  # -- Run k8ssandra-operator container having read-only root file system permissions.
  readOnlyRootFilesystem: true
  # -- Do not allow privilege escalation for the k8ssandra-operator container.
  allowPrivilegeEscalation: false
# -- Resources requests and limits for the k8ssandra-operator pod. We usually
# recommend not to specify default resources and to leave this as a conscious
# choice for the user. This also increases chances charts run on environments
# with little resources, such as Minikube. If you want to specify resources, add
# `requests` and `limits` for `cpu` and `memory` while removing the existing
# `{}`
resources: {}
# -- Node labels for operator pod assignment
## Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/
##
nodeSelector: {}
# -- Node tolerations for server scheduling to nodes with taints
## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
##
tolerations: []
# -- This client configuration is used for the CRD upgrader job only. Otherwise, modify
# the global.imageConfig values to change k8ssandra-client
client:
  # -- Uncomment to specify the name of the service account to use for the
  # client tools image. Defaults to <release-name>-crd-upgrader-k8ssandra.
  # serviceAccount:
  image:
    # -- Image registry for the client
    registry: docker.io
    # -- Image repository for the client
    repository: k8ssandra/k8ssandra-client
    # -- Tag of the client image to pull from
    tag: v0.8.3
    # -- Pull policy for the client container
    pullPolicy: IfNotPresent
  # -- HTTPS proxy address to use for communication to helm.k8ssandra.io
  #proxy:
# -- Allows managing CRD upgrades externally and fully disable the CRD upgrader job hook
disableCrdUpgraderJob: false
# cass-operator:
# -- Allows disabling the check for the presence of cert-manager.
  # disableCertManagerCheck: false
