{{- if not .Values.disableCrdUpgraderJob }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "k8ssandra-common.fullname" . }}-crd-upgrader-job-k8ssandra
  labels: {{ include "k8ssandra-common.labels" . | indent 4 }}
  annotations:
    "helm.sh/hook": pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation
    "helm.sh/hook-weight": "10"
spec:
  backoffLimit: 3
  template:
    metadata:
      labels: {{ include "k8ssandra-common.labels" . | indent 8 }}
    spec:
      restartPolicy: OnFailure
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}   
      serviceAccountName: {{ include "k8ssandra-common.fullname" . }}-crd-upgrader-k8ssandra
      {{- if .Values.client.podSecurityContext }}
      securityContext:
        {{- toYaml .Values.client.podSecurityContext | nindent 8 }}
      {{- end }}
      containers:
        - name: crd-upgrade-job-k8ssandra
          image: {{ include "k8ssandra-common.flattenedImage" .Values.client.image }}
          imagePullPolicy: {{ .Values.client.image.pullPolicy }}
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            {{- if .Values.client.proxy }}
            - name: HTTPS_PROXY
              value: {{ .Values.client.proxy }}
            {{- end }}
          args:
            - helm
            - upgrade
            - --chartVersion
            - {{ .Chart.Version }}
            - --chartName
            - {{ .Chart.Name }}
            - --chartRepo
            - k8ssandra
      {{- if .Values.nodeSelector }}
      nodeSelector: {{ toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations: {{ toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
{{- end }}