apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../default
  - ../../../cass-operator/cluster-scoped
components:
  - ../../../components/cluster-scope
  - ../../../components/single-namespace