---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: medusabackups.medusa.k8ssandra.io
spec:
  group: medusa.k8ssandra.io
  names:
    kind: MedusaBackup
    listKind: MedusaBackupList
    plural: medusabackups
    singular: medusabackup
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Backup start time
      jsonPath: .status.startTime
      name: Started
      type: date
    - description: Backup finish time
      jsonPath: .status.finishTime
      name: Finished
      type: date
    - description: Total number of nodes at the time of the backup
      jsonPath: .status.totalNodes
      name: Nodes
      type: string
    - description: Number of nodes that completed this backup
      jsonPath: .status.finishedNodes
      name: Completed
      type: string
    - description: Backup completion status
      jsonPath: .status.status
      name: Status
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MedusaBackup is the Schema for the medusabackups API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: MedusaBackupSpec defines the desired state of MedusaBackup
            properties:
              backupType:
                default: differential
                description: 'The type of the backup: "full" or "differential"'
                enum:
                - differential
                - full
                type: string
              cassandraDatacenter:
                description: The name of the CassandraDatacenter to back up
                type: string
            required:
            - cassandraDatacenter
            type: object
          status:
            description: MedusaBackupStatus defines the observed state of MedusaBackup
            properties:
              finishTime:
                format: date-time
                type: string
              finishedNodes:
                format: int32
                type: integer
              nodes:
                items:
                  properties:
                    datacenter:
                      type: string
                    host:
                      type: string
                    rack:
                      type: string
                    tokens:
                      items:
                        format: int64
                        type: integer
                      type: array
                  type: object
                type: array
              startTime:
                format: date-time
                type: string
              status:
                type: string
              totalNodes:
                format: int32
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
